// CSS For TOPUP

// TOPUP 1

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.noselect {
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topupContainer1{
	height:100%;
  position: relative;
}

.topupContainer1 .amountInput{
  margin-bottom:30px;
}

.topupContainer1 .amountInput .p2pAmount{
  text-align:center;
}

.topupContainer1 h3{
  padding-top:48px;
	text-align:center;
	font-size:13px;
	color:#A3A8AC;
  font-weight: 500;
}

.topupContainer1 input {
  font-size:30px;
  font-weight:500;
  color: #5C646D;
  background:transparent;
	border:none;
  width: 35%;
  padding:15px 0px 8px 0px;
  border-bottom:1px solid rgba(0,0,0,0.10);
	text-align:center;
}

.topupContainer1 .p2pAmount span{
  color: #A3A8AC;
  font-size: 30px;
}

.topupContainer1 .p2pAmount span:before{
  content: '₹';
}

.topupContainer1 .p2pAmount .activate{
  border-bottom:1px solid #1da8e8!important;
}

::-webkit-input-placeholder {
   color: #5C646D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5C646D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5C646D;  
}

:-ms-input-placeholder {  
   color: #5C646D;  
}

.da-container{
  color: #1da8e8;
  width: 80%;
  border-radius:4px;
  border:1px solid #efefef;
  text-decoration: none;
  margin: 0px auto !important;
  font-weight: 500;
  display: block;
}

/*  SECTIONS  */
.section {
  clear: both;
  margin: 0px;
}
/*  COLUMN SETUP  */

.col {
  display: block;
  float:left;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.span_1_of_3 {
  width: 33.3%;
  text-align:center;
}

.span_1_of_2 {
  width: 75%;
  text-align:center;
}

.hikePayKeyboard{
  width:100%;
  position: absolute;
  bottom:0px;
}

.number_numpad{
  display: inline-block;
  padding:16px 40px;
  background-color:white;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.60);
}

.amount{
  padding:13px 15px;
  font-size: 18px;
  font-weight: 400;
  background-color:white;
  color: #1da8e8;
}

.borderD1{
  border-radius:4px 0px 0px 4px;
}

.borderD2{
  border-radius:0px;
}

.borderD3{
  border-radius:0px 4px 4px 0px;
}

.d2{
  border-left:1px solid #efefef;
  border-right :1px solid #efefef;  
}

.d1{
    border-radius:4px 0px 0px 4px;
}

.d3{
  border-radius:0px 4px 4px 0px;  
}

.activeamount{
  background-color:#1da8e8;
  color:white;
}

.span_2_of_2 {
  width: 25%;
  height: 100%;
  text-align:center;
}

.cross-icon{
  vertical-align: middle;
  display: inline-block;
  margin: 0px auto;
  background-image: url(images/cross-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 15px;
}

.tick-icon{
  vertical-align: middle;
  display: inline-block;
  margin: 0px auto;
  width: 23px;
  height: 17px;
  background-image: url(images/tick-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hikePad{
  height: 208px;
}

.action_next{
  background: #1da8e8;
  color: white;
  padding: 18px 0px;
  margin-top: 70px;
  text-align: center;
}

.action_next .next_tick{
  width: 12px;
  height: 10px;
  display: inline-block;
  background-image: url(images/add_money_tick.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.action_next p{
  display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    vertical-align: middle;
}

.action_cross{
  height: 25%;
}

.action_next span{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.action_cross span{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.activebutton{
  background-color: #1da8e8 !important;
}




// Keypad Number Pad CSS


// TOPUP2

.radio{
  display: block;
  cursor: pointer; 
  user-select:none;
  text-align: left;
  &+.radio{
    margin-top: 7px;
  }
  input{
    display: none;
    &+span{
      display: inline-block; 
      position: relative;
      padding-left: 25px;
      &:before{
        content: '';
        display: block; 
        position: absolute;
        top: -11px;
        left: 0px;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 1px solid #979797;
        background: #fff;
      }
      &:after{
        content: '';
        display: block; 
        width: 8px;
        height: 8px;
        background: #2ca16e;
        position: absolute;
        border-radius: 50%;
        top: -8px;
        left: 3px;
        opacity: 0;
        transform: scale(0,0); 
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }
    &:checked+span:after{
      opacity: 1;
      transform: scale(1,1);
    }
  }
}

.topupContainer2 {
	height:100%;
	background-color:white;
}

.topupContainer2 h3 {
	font-size:14px;
	text-transform:uppercase;
	color:#5C646D;
}

.topupContainer2 .card{
	padding-top:27px;
	padding-bottom:18px;
	border-bottom:1px solid rgba(0,0,0,.14);
}

.topupContainer2 .netbanking{
	padding-top:27px;
	padding-bottom:18px;
	border-bottom:1px solid rgba(0,0,0,.14);
}

.topupContainer2 .card .nb-icon{
  width: 28px;
  height: 18px;
  display: inline-block;
  background-image: url(images/cc-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.topupContainer2 .netbanking .nb-icon{
  width: 28px;
  display: inline-block;
  height: 18px;
  background-image: url(images/cc-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.topupContainer2 .netbanking span{
	vertical-align:super;
	color:black;
	font-size:12px;
}

.topupContainer2 .card span{
	vertical-align:super;
	color:black;
	font-size:12px;
}

.topupContainer2 .netbanking span.nb, .topupContainer2 .card span.cc{
	padding-left:15px;
}

.topupContainer2 a.topupMethod{
	text-decoration:none;
	color:black;	
}

.topupContainer2 .topupMethodIcon{
	width:100px;
	height:100px;
	color:#1da8e8;
}

.topupContainer2 a.topupMethod{
	font-size:16px;
}

.topupContainer2 .boxInputs-card{
	margin:19px 20px 0px 25px;
	position: relative;
}

.topupContainer2 .boxInputs-card input{
	padding:10px 10px;
	border-radius:4px;
	border:1px solid #eee;
	margin:5px 0px;
}

.topupContainer2 .boxInputs-card input.error {
  border: 1px solid red;
}

.topupContainer2 .boxInputs-card #card_number{
	width:93%;
}

.topupContainer2 .boxInputs-card #card_expiry{
	width:40%;
}

.topupContainer2 .boxInputs-card #card_cvv{
	width:40%;
}

.topupContainer2 .boxInputs-card .card-type-icon {
	position: absolute;
	top: 8px;
	right: 2px;
  width: 37px;
  height: 29px;
}

.topupContainer2 .boxInputs-card .card-type-icon.mastercard {
  background: url(images/cc-sprite.png) no-repeat;
  background-position: -73px 0;
}

.topupContainer2 .boxInputs-card .card-type-icon.visa {
  background: url(images/cc-sprite.png) no-repeat;
  background-position: 0px 0;
}

.topupContainer2 .boxInputs-card .card-type-icon.amex {
  background: url(images/cc-sprite.png) no-repeat;
  background-position: -111px 0;
}

.topupContainer2 .boxInputs-netbanking{
	margin-top:13px;
	text-align:center;
}

.topupContainer2 .commonBanksContainer{
	width:90%;
	margin-left:40px;
}

.topupContainer2 .commonBanksContainer .bankContainer{
	display:inline-block;
	margin:0px 45px 17px 0px;
}

.topupContainer2 .commonBanksContainer .bankContainer .bankIcon{
	width: 36px;
  	height: 36px;
  	background-size: contain;
  	background-repeat: no-repeat;
}

$SBI: url(images/bank-sbi.png);
$HDFC: url(images/bank-hdfc.png);
$ICICI: url(images/bank-icici.png);
$AXIS: url(images/bank-axis.png);
$CANARA: url(images/bank-canara.png);
$KOTAK: url(images/bank-kotak.png);
$PNB: url(images/bank-kotak.png);

.topupContainer2 .commonBanksContainer .bankContainer .NB_sbi{
	background-image:$SBI;
}
.topupContainer2 .commonBanksContainer .bankContainer .NB_hdfc{
	background-image:$HDFC;
}
.topupContainer2 .commonBanksContainer .bankContainer .NB_icici{
	background-image:$ICICI;
}
.topupContainer2 .commonBanksContainer .bankContainer .NB_axis{
	background-image:$AXIS;
}
.topupContainer2 .commonBanksContainer .bankContainer .NB_canara{
	background-image:$CANARA;
}
.topupContainer2 .commonBanksContainer .bankContainer .NB_kotak{
	background-image:$KOTAK;
}
.topupContainer2 .commonBanksContainer .bankContainer .NB_pnb{
  background-image:$PNB;
}


.topupContainer2 .commonBanksContainer .bankContainer .bankName{
	font-size:10px;
	text-align:center;
	color:rgba(0,0,0,0.48);
	margin-top:5px;
}

.topupContainer2 .bankContainer select{
	width:50%;
	border:1px solid rgba(0,0,0,0.18);
	background:white;
	text-transform:uppercase;
	margin:0px auto;
	border-radius:5px;;
	padding:6px 10px;
	color:#A8A8A8;
}	

/* This is to remove the arrow of select element in IE */
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
	.topupContainer2 .bankContainer select{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
  .topupContainer2 .bankContainer select { width: 110%; background-position: right 30px center !important; border: none !important;}
}

.topupContainer2 .boxInputs-card, .topupContainer2 .boxInputs-netbanking{
	display:none;
}

a.topupNextButton2{
  background-color: #a1a1a1;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 0px;
}

.addMoneyContainer{
  padding:20px;
}

iframe.redirect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
}

.errorContainer {
  margin: 0px;
  padding: 15px;
  background: #F1ADAD;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}














