/*Transaction History*/
.iblock {
  display: inline-block !important;
  vertical-align: middle;
}

.txHistoryContainer {
  padding: 25px 20px 0px 20px; }

.txHistoryContainer .txHistory-balance {
  border-bottom: 1px solid rgba(0,0,0,0.10);
  padding-bottom: 20px; }

.txHistoryContainer .txHistory-balance h3 {
  color: #A3A8AC;
  font-size: 12px;
  font-weight: 500;
}

.txHistoryContainer .txHistory-balance p {
  font-size: 16px;
  color: #5C646D;
  font-weight: 600;
  padding-top: 10px; }

.txHistoryContainer .txHistoryList {
  border-bottom: 1px solid #eee; 
  padding:16px 0px;
}

.txHistoryContainer .txHistoryList p.timestamp_date{
  color:#5B636C;
  line-height: 22px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  text-align:center;
}

.txHistoryContainer .txHistoryList p.timestamp_month{
  text-align:center;
  color:#5B636C;
  line-height: 10px;
  vertical-align: middle;
  font-size: 10px;
  text-transform: uppercase;
}

.txListContainer{
  position: absolute;
  bottom: 20px;
  top: 90px;
  overflow-y: scroll;
  left: 20px;
  right: 20px;
}

.txHistoryContainer .txHistoryList .itemText{
  margin-left: 11px;
}

.txHistoryContainer .txHistoryList .itemText p.itemHeading{
  color:#5B636C;
  font-weight: 500;
  font-size: 12px;
}

.txHistoryContainer .txHistoryList .itemText p.itemSubheading{
  color:#A3A8AC;
  font-weight: 500;
  font-size: 12px;
  padding-top:5px;
}

.txHistoryContainer .txHistoryList .txHistoryList-item-details {
  float: left; }

.txHistoryContainer .txHistoryList .txHistoryList-item-amount {
  font-size: 12px;
  padding-top: 10px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  float: right; }

.CREDIT{
  color: #33B87E;
}

.DEBIT{
  color: #DB3D3D;
}


.txHistoryContainer .txHistoryList .txHistoryList-item-details .itemIcon {
  width: 36px;
  height: 36px;
  background-color: rgba(0,0,0,0.04);
  border-radius: 5px; }