.panelContainer{
  display: block;
  width: 100%;
  height: 100%;
  background-color:#2FB2F4;
  position: relative;
  z-index: 100;
}

.panelContainer .panelBg{
  background: url(images/mountainsnowupdated.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 94%;
  z-index: -100;  
}

.panelWrapper .giftPanel{
  padding-top: 48px;
}

.panelWrapper .giftPanel .giftIcon{
  background: url(images/gifts.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 230px;
  height: 128px;
  margin: 0px auto;
}

.panelWrapper .giftPanel .giftShelter{
  margin-top: 14px;
  border: 1px solid rgba(255,255,255,0.80);
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  padding: 12px 23px;
  border-radius: 4px;
  vertical-align: middle;
}

.panelWrapper .santaPanel{
  margin-top: 80px;
  position: relative;
}

.panelWrapper .santaPanel span{
  font-size: 10px;
  font-weight:400;
  color: rgba(255,255,255,0.80);
  text-transform: uppercase;
  position: absolute;
  top: -14px;
  left: 109px;
}

.panelWrapper .santaPanel .santaButton{
  border: 1px solid rgba(255,255,255,0.80);
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 11px;
  padding: 12px 41px;
  border-radius: 4px;
  vertical-align: middle;
}

.panelWrapper .santaPanel .santaIcon{
  background: url(images/smallgift.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 13px;
  left: 50px;
}

.panelWrapper .santeePanel{
  margin-top: 35px;
  position: relative;
}

.panelWrapper .santeePanel span{
  font-size: 10px;
  font-weight:400;
  color: rgba(255,255,255,0.80);
  text-transform: uppercase;
  position: absolute;
  right: 110px;
  top: -14px;
}

.panelWrapper .santeePanel .santeeIcon{
  background: url(images/smallsanta.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 57px; 
  position: absolute;
  bottom: 8px;
  right: 50px;
}

.panelWrapper .santeePanel .santeeButton{
  border: 1px solid rgba(255,255,255,0.80);
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 11px;
  padding: 12px 41px;
  border-radius: 4px;
  vertical-align: middle;
}

.panelWrapper hr
{
  border: none;
  margin: 24px auto 40px auto;
  width: 16%;
  opacity: 0.50;
  height: 1px;
  background-color: #fff;
}

canvas {
  display: block;
  position: absolute;
  z-index: -10;
}

.assigned{
  color: #fff!important;
}

