// CSS For TOPUP

// TOPUP 1

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p2pContainer{
	height:100%;
  position: relative;
}

.p2pContainer h3{
  padding-top:56px;
	text-align:center;
	font-size:12px;
	color:#A3A8AC;
}

.p2pContainer input {
	border:none;
	font-size:30px;
	font-weight:600;
  width: 80%;
  background:transparent;
	padding:20px 20px 25px 20px;
	border-bottom:1px solid #eee;
	text-align:center;
  margin-bottom: 77px;
  margin-left:20px;
}

::-webkit-input-placeholder {
   color: #5C646D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5C646D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5C646D;  
}

:-ms-input-placeholder {  
   color: #5C646D;  
}

.da-container{
  color: #1da8e8;
  width: 80%;
  border-radius:4px;
  border:1px solid #efefef;
  text-decoration: none;
  margin: 0px auto !important;
  font-weight: 500;
}

/*  SECTIONS  */
.section {
  clear: both;
  margin: 0px;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
}
.col:first-child { 
  margin-left: 0;
  border-right: 1px solid #efefef; 
}

.col:last-child { 
  border-left: 1px solid #efefef; 
}

/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.span_1_of_3 {
  width: 32.2%;
  text-align:center;
}

.span_1_of_2 {
  width: 75%;
  text-align:center;
}

.hikePayKeyboard{
  width:100%;
  position: absolute;
  bottom:0px;
}

.number_numpad{
  display: inline-block;
  padding:16px 40px;
  background-color:white;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.60);
}

.amount{
  display: inline-block;
  padding:13px 15px;
  font-size: 18px;
  font-weight: 400;
  background-color:white;
  color: #1da8e8;
}

.activeamount{
	background-color:#1da8e8;
	color:white;	
  border:1px solid #1da8e8;
}

.span_2_of_2 {
  width: 25%;
  height: 100%;
  text-align:center;
}

.cross-icon{
  vertical-align: middle;
  display: inline-block;
  margin: 0px auto;
  background-image: url(images/cross-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 15px;
}

.tick-icon{
  vertical-align: middle;
  display: inline-block;
  margin: 0px auto;
  width: 23px;
  height: 17px;
  background-image: url(images/tick-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hikePad{
  height: 208px;
}

.action_next{
  background: #1da8e8;
  color: white;
  padding: 20px 0px;
  margin-top: 70px;
  text-align: center;
}

.action_next .next_tick{
  width: 12px;
  height: 10px;
  display: inline-block;
  background-image: url(images/add_money_tick.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.action_next p{
  display: inline-block;
  margin-left: 10px;
}

.action_cross{
  height: 25%;
}

.action_next span{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.action_cross span{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.activebutton{
  background-color: #1da8e8 !important;
}