// CSS For TOPUP

// TOPUP 1

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p2pContainer{
	height:100%;
  position: relative;
}

.p2pContainer .p2pWrapper{
  padding:0px 24px;
}

.p2pContainer h3.p2pReceiver{
  padding-top:30px;
  padding-bottom:32px;
	font-size:15px;
	color:rgba(0,0,0,0.65);
  font-weight: 500;
}

.p2pWrapper .p2pAmount{
  position: relative;
  display: inline-block;
}

.p2pWrapper .p2pAmount .currencySymbol{
  position: absolute;
  font-size: 30px;
  color: #a3a8ac;
  top: 8px;
}

.amountInput .currentInput{
  margin-top: 3px;
}

.p2pContainer #p2pComment{
  border:none;
  background:transparent;
  margin-top: 36px;
  width: 100%;
  border-bottom:1px solid rgba(0,0,0,0.08);
  font-size: 12px;
  padding-bottom:10px;
  color: rgba(0,0,0,0.80);
  font-weight: 400;
}

.p2pContainer #p2pValue {
	border:none;
	font-size:30px;
	font-weight:500;
  width: 92%;
  padding-left :25px;
  padding-bottom:8px; 
  background:transparent;
	border-bottom:1px solid rgba(0,0,0,0.08);
  color: #5c646d;
}

.p2pContainer .p2pThumb{
  background:url(https://hmssweblog.files.wordpress.com/2015/08/brad-pitt.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #1da8e8;
  border-radius:50%;
}

.p2pContainer .availBalance
{
 position: absolute;
 top:12px;
 right:0px;
 text-align:right;
}

.p2pContainer .availBalance p{
  font-size: 14px;
  color: #1da8e8;
  font-weight: 400;
}


.p2pContainer .availBalance span{
  font-size: 11px;
  color: rgba(0,0,0,0.40);
  font-weight: 500;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.40);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.40);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.40);  
}

:-ms-input-placeholder {  
   color: rgba(0,0,0,0.40);  
}

.da-container{
  color: #1da8e8;
  width: 80%;
  border-radius:4px;
  border:1px solid #efefef;
  text-decoration: none;
  margin: 0px auto !important;
  font-weight: 500;
  display: block;
}

/*  SECTIONS  */
.section {
  clear: both;
  margin: 0px;
}
/*  COLUMN SETUP  */

.col {
  display: block;
  float:left;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.span_1_of_3 {
  width: 33.3%;
  text-align:center;
}

.span_1_of_2 {
  width: 75%;
  text-align:center;
}

.span_1_off_2 {
  width: 20%;
}

.span_2_off_2 {
  width: 80%;
  position: relative;
}

.hikePayKeyboard{
  width:100%;
  position: absolute;
  bottom:0px;
}

.number_numpad{
  display: inline-block;
  padding:16px 40px;
  background-color:white;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.60);
}

.amount{
  padding:13px 15px;
  font-size: 18px;
  font-weight: 400;
  background-color:white;
  color: #1da8e8;
}

.borderD1{
  border-radius:4px 0px 0px 4px;
}

.borderD2{
  border-radius:0px;
}

.borderD3{
  border-radius:0px 4px 4px 0px;
}

.d2{
  border-left:1px solid #efefef;
  border-right :1px solid #efefef;  
}

.d1{
    border-radius:4px 0px 0px 4px;
}

.d3{
  border-radius:0px 4px 4px 0px;  
}

.activeamount{
  background-color:#1da8e8;
  color:white;
}

.span_2_of_2 {
  width: 25%;
  height: 100%;
  text-align:center;
}

.cross-icon{
  vertical-align: middle;
  display: inline-block;
  margin: 0px auto;
  background-image: url(images/cross-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 15px;
}

.tick-icon{
  vertical-align: middle;
  display: inline-block;
  margin: 0px auto;
  width: 23px;
  height: 17px;
  background-image: url(images/tick-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hikePad{
  height: 208px;
}

.action_next{
  background: #1da8e8;
  color: white;
  padding: 18px 0px;
  margin-top: 70px;
  text-align: center;
}

.action_next .next_tick{
  width: 12px;
  height: 10px;
  display: inline-block;
  background-image: url(images/add_money_tick.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.action_next p{
  display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    vertical-align: middle;
}

.action_cross{
  height: 25%;
}

.action_next span{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.action_cross span{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.activebutton{
  background-color: #1da8e8 !important;
}

