// CSS For TOPUP

// TOPUP 1

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p2pContainer{
	height:100%;
  position: relative;
}

.p2pContainer .p2pWrapper{
  padding:0px 24px;
}

.p2pContainer h3.p2pReceiver{
  padding-top:30px;
  padding-bottom:32px;
	font-size:15px;
	color:rgba(0,0,0,0.65);
  font-weight: 500;
}

.p2pWrapper .p2pAmount{
  position: relative;
  display: inline-block;
}

.p2pWrapper .p2pAmount .currencySymbol{
  position: absolute;
  font-size: 30px;
  color: #a3a8ac;
  top: 8px;
  font-weight: 500;
}

.amountInput .currentInput{
  margin-top: 3px;
}

.p2pContainer #p2pComment{
  border:none;
  background:transparent;
  margin-top: 36px;
  width: 100%;
  border-bottom:1px solid rgba(0,0,0,0.08);
  font-size: 12px;
  padding-bottom:10px;
  color: rgba(0,0,0,0.80);
  font-weight: 400;
}

.p2pContainer #p2pValue {
	border:none;
	font-size:30px;
	font-weight:500;
  width: 91%;
  padding-left :25px;
  padding-bottom:8px; 
  background:transparent;
	border-bottom:1px solid rgba(0,0,0,0.08);
  color: #5c646d;
}

.p2pWrapper .activate{
  border-bottom:1px solid #1da8e8!important;
}

.p2pWrapper .activatelowbalance{
  border-bottom:1px solid red!important;
}

.p2pContainer .p2pThumb{
  background:url(https://hmssweblog.files.wordpress.com/2015/08/brad-pitt.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #1da8e8;
  border-radius:50%;
}

.p2pContainer .availBalance
{
 display: block;
 position: absolute;
 top:12px;
 right:0px;
 text-align:right;
}

.p2pContainer .availBalance.hideAlert{
  display: none;
}

.p2pContainer .availBalance p{
  font-size: 14px;
  color: #1da8e8;
  font-weight: 400;
}

.p2pContainer .availBalance span{
  font-size: 11px;
  color: rgba(0,0,0,0.40);
  font-weight: 500;
}



.p2pContainer .addMoneyAlert
{
 display: none;
 position: absolute;
 top:8px;
 right:0px;
 text-align:right;
}

.p2pContainer .addMoneyAlert.showAlert{
  display: block;
}

.p2pContainer .alertAdd{
  background-image: url(images/add_money_alert.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-left:40px;
}

.p2pContainer .addMoneyAlert span{
  font-size: 11px;
  color: rgba(0,0,0,0.40);
  font-weight: 500;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.40);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.40);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.40);  
}

:-ms-input-placeholder {  
   color: rgba(0,0,0,0.40);  
}

/*  SECTIONS  */
.section {
  clear: both;
  margin: 0px;
}
/*  COLUMN SETUP  */

.col {
  display: block;
  float:left;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}

.span_1_off_2 {
  width: 20%;
}

.span_2_off_2 {
  width: 80%;
  position: relative;
}

.action_send_money{
  background: #1da8e8;
  color: white;
  padding: 18px 0px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.action_send_money .next_tick{
  width: 12px;
  height: 10px;
  display: inline-block;
  background-image: url(images/add_money_tick.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.action_send_money p{
  display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    vertical-align: middle;
}

.activebutton{
  background-color: #1da8e8 !important;
}