<div class="p2pContainer">
	
	<!-- Reciever -->
	<div class="p2pReciever">
		<div class="rIcon"></div>
		<div class="rName">Hemank Sabharwal / +91-8376869645</div>
	</div>

	<!-- Amount -->
	<div class="p2pAmount">      
      <input type="number" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Amount</label>
    </div>
      
    <!-- Message Optional -->  
    <div class="p2pMessage">      
      <input type="text">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Message</label>
    </div>

    <!-- Sender -->
	<div class="sIcon"></div>

	<!-- Button That Will Keep On Changing Send Money : Confirm Pin -->
	<a href="#" class="p2pSend">Confirm</a>

</div>