<div class="p2pWrapper">
  <!-- Enter Amount Input Screen -->
  <h3 class="p2pReceiver">Send money to {{receiver}}</h3>
    
  <div class="amountInput">
    <div class="section group p2pAmount">
    	<div class="col span_1_off_2"><div class="p2pThumb"></div></div>
    	<div class="col span_2_off_2">
    		<div class="currentInput">
    			<span class="currencySymbol">₹</span>
    			<input class="inActive" id="p2pValue" value="" type="number" required>
    		</div>
    		<div class="availBalance">
    			<p id="wBalance" data-balance="{{availBalance}}">₹ {{availBalance}}</p>
    			<span>balance</span>
    		</div>
    		<!-- Show Only When Alert Triggered -->
    		<div class="addMoneyAlert">
    			<div class="alertAdd"></div>
    			<span>Add Money</span>
    		</div>
    	</div>
    	
    </div>
  </div>

  <input type="text" id="p2pComment" value="" class="p2pComment" placeholder="Add Comment (Optional)">
</div>

<div class="action_send_money">
   <div class="next_tick"></div><p>Send Money</p>
</div>
