<div class="topupContainer1">
  
  <!-- Enter Amount Input Screen -->
  <div class="amountInput">
    <h3>Enter amount to add</h3>
    <div class="p2pAmount">  
        <input id="p2pValue" value="" type="number" required disabled>
    </div>
  </div>

  <!-- Default Amounts Container -->

<div class="hikePayKeyboard">

  <div class="section group da-container">
    {{#defaultAmounts}}
    <div class="col span_1_of_3">
      <div class="amount">{{amount}}</div>
    </div>
    {{/defaultAmounts}}
  </div>

  <!-- Hike Numberpad :: Divided into Two Columns :: Numbers and Actions -->  
    <!-- Numbers Here -->
  <div class="hikePad">
    <div class="col span_1_of_2">
      <div class="section group">
            {{#keypad}}
            <div class="col span_1_of_3">
              <div data-val="{{keypadvalue}}" class="number_numpad">{{keypadvalue}}</div>
            </div>
            {{/keypad}}
      </div>
    </div>

    <!-- Buttons Here -->
    <div class="col span_2_of_2">
      <div class="action_cross">
        <div class="cross-icon"></div><span></span>
      </div>
      <a href="#" data-path="/topup2">
        <div class="action_next">
          <div class="tick-icon"></div><span></span>
        </div>
      </a>
    </div>  
  </div>
</div>

</div>



