<div class="topupContainer1">
  
  <!-- Enter Amount Input Screen -->
  <div class="amountInput">
    <h3>Enter amount to add</h3>
    <div class="p2pAmount">  
        <input id="p2pValue" value="" placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'" type="number" required>
    </div>
  </div>

  <!-- Default Amounts Container -->
  <div class="da-container">
    <div class="defaultAmounts">
      {{#defaultAmounts}}
        <div class="amount">{{amount}}</div>
      {{/defaultAmounts}}
    </div>
  </div>

  <!-- Hike Numberpad -->
  <div class="hikePayNumpad">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 phone">
            <div class="row1">
                <div class="col-md-12">
                    <div class="num-pad">
                      {{#keypad}}
                      <div class="span4">
                          <div class="num">
                              <div class="txt">
                                  {{keypadvalue}}
                              </div>
                          </div>
                      </div>
                      {{/keypad}}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>



