<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div>
    	<div class="ftue1">
			<div class="ftueIcon_visa"></div>
			<h2>Accepted Everywhere</h2>
			<p>Use your card at any merchant or ATM that accepts Visa.</p>	
		</div>
    </div>
    <div>
    	<div class="ftue1">
			<div class="ftueIcon_deals"></div>
			<h2>Amazing Deals</h2>
			<p>Get upto 30% Cashback on every transaaction.</p>	
		</div>
    </div>
    <div>
    	<div class="ftue1">
			<div class="ftueIcon_safe"></div>
			<h2>Safe and Secure</h2>
			<p>100% Secure.No hidden fees.Withdraw your money at anytime.</p>	
		</div>
		<a class="ftueNextButton" href="#" data-path="/ftue_step_2">Get Card Now</a>
    </div>
  </div>
</div>