<div class="ftue2">
	<!-- <div class="hikeCardPackageIcon"></div> -->
	<h3>We will need just a couple of details from you for delivering the card.</h3>
	<div class="inputUserAddress">
		<input class="inputName" type="text" required placeholder="Full Name">
		<input class="input-address" type="text" required placeholder="Address">
		<input class="input-city" type="text" required placeholder="City">
		<input class="input-pincode" type="number" required placeholder="Pincode">
	</div>
</div>
<a class="ftueNextButton" href="#" data-path="/ftue_step_3">Send the Card</a>
