<div class="giftsEnabledWrapper">
	
	<!-- NR-->

	<div class="giftRWrapper">
		<div class="giftReceiverArea align-center">
			<p>You are yet to receive any gift</p>
			<div class="santaChatButton">
				<div class="santaChatIcon"></div>
				<div class="santaChatMessage buttonTap">Talk to your Santa</div>
			</div>
		</div>
	</div>

	<!-- S -->

	<div class="giftSWrapper">
		<div class="giftSenderArea align-center">
			<p class="gsHeading">You have sent this Gift</p>
			
			{{#secretsantaoffers}}
				<div class="ssOffer section group {{offerstatus}}" data-val="{{offerCode}}">
					<div class="col span_1_of_3 offerIcon"></div>
					<div class="col span_2_of_3 offerContent"><p class="ohead">{{offerheading}}</p><p class="osubhead">{{offersubheading}}</p></div>
					<div class="col span_3_of_3 offerValue">{{offervalue}}</div>
				</div>
			{{/secretsantaoffers}}
		
		</div>
	</div>
	
</div>
<div class="giftsEnabledBg"></div>