<div class="counterContain">
	<div class="giftsDisabledWrapper">
		<div class="logoContainer">
			<div class="countdownLogo"></div>
		</div>
		<div class="countdownCounter align-center">
			<p id="timecount">
				{{tdays}}<span id="timetext">  DAY  </span>{{thours}}<span id="timetext">  HRS  </span>{{tminutes}}<span id="timetext">  MIN  </span>{{tseconds}}<span id="timetext">  SEC </span>
			</p>
		</div>
		<p class="countdownDetails">Our fleet of elves are currently working on wrapping gifts for you. Come back on 24th and see your gifts unveiled.</p>
	</div>
</div>	
<div class="panelBg"></div>