<div class="hikePayKeyboard">
  
  <div class="section group da-container">
    <div class="col span_1_of_3"><div class="amount key" data-val="500">₹ 500</div></div>
    <div class="col span_1_of_3"><div class="amount key" data-val="1000">₹ 1000</div></div>
    <div class="col span_1_of_3"><div class="amount key" data-val="2000">₹ 2000</div></div>
  </div>

  <div class="action_next">
    <div class="next_tick"></div><p>Next</p>
  </div>

  <!-- <div class="hikePad">
    <div class="col span_1_of_2">
      <div class="section group">
            {{#keypad}}
            <div class="col span_1_of_3">
              <div data-val="{{keypadvalue}}" class="number_numpad key">{{keypadvalue}}</div>
            </div>
            {{/keypad}}
      </div>
    </div>

    <div class="col span_2_of_2">
      <div class="action_cross key" data-val="del">
        <div class="cross-icon"></div><span></span>
      </div>

      <div class="action_next">
        <div class="tick-icon"></div><span></span>
      </div>

    </div>  
  </div> -->
</div>