<!-- <canvas id="canvas"></canvas> -->
<div class="panelWrapper">
	<div class="giftPanel align-center">
		<div class="giftIcon"></div>
		<div class="giftShelter align-center buttonTap">Gift Shelter</div>
	</div>

	<div class="santaPanel align-center">
		<span>Get a gift</span>
		<div class="santaIcon"></div>
		<div class="santaButton align-center buttonTap">Chat with your Santa</div>
	</div>
	<hr noshade>
	<div class="santeePanel align-center">
		<span>Give a gift</span>
		<div class="santeeIcon"></div>
		<div class="santeeButton align-center buttonTap">Be Santa For Someone</div>
	</div>
</div>
<div class="panelBg"></div>