<div class="faqInfo"></div>
<div class="panelWrapper">
	<div class="panelWrapperContainer">
		<div class="giftPanel align-center">
			<div class="giftIcon"></div>
			<div class="giftShelter align-center buttonTap">Gift Basket</div>
		</div>
		<div class="santaPanel santaButton buttonTap">
			<div class="santaIcon"></div>
			<div class="content">
				<p>Get a Gift</p>
				<span>Chat With Your Santa</span>
			</div>
		</div>
		<div class="santeePanel santeeButton buttonTap">
			<div class="santeeIcon"></div>
			<div class="content">
				<p>Give a gift</p>
				<span>Chat With The One You're Gifting</span>
			</div>
		</div>
</div>
<div class="panelBg"></div>