<div class="confirm_wrapper">
	<div class="confirm_header">
		<div class="confirm_tick_image"></div>
		<p>Transaction Successful</p>
	</div>
	<div class="confirm_content">
		<div class="confirm_tx">
			<h3 class="confirm_tx_name">{{tName}}</h3>
			<h5 class="confirm_tx_money">₹ {{tAmount}}</h5>
			<h4 class="confirm_tx_id">Trans ID: {{tId}}</h4>
			<p class="confirm_tx_date">{{tDate}}</p>
		</div>
		<div class="confirm_tx_summary">
			<div class="confirm_tx_summaryRow clearfix">
				<h3>Summary Total</h3>
				<h2 class="confirm_tx_amt_summary">₹ {{tAmount}}</h2>
			</div>
		</div>
		<div class="confirm_tx_thankyou">
			Thank You for using Hike Pay
		</div>
	</div>
	<div class="confirm_cta_wrapper">
		<div class="cta blue confirm_tx_done">Done</div>
	</div>
</div>