<div class="confirm_wrapper">
	<div class="confirm_header">
		<figure><img src="images/green_tick.png" /></figure>
		<figcaption>Transaction Successful</figcaption>
	</div>
	<div class="confirm_content">
		<div class="confirm_tx">
			<h3 class="confirm_tx_name">Airtel Recharge</h3>
			<h4 class="confirm_tx_id">Trans ID: 1234567890</h4>
			<p class="confirm_tx_date">23rd November, 2015 at 11:00 AM</p>
		</div>
		<div class="confirm_tx_summary">
			<div class="confirm_tx_summaryRow">
				<h3>Summary Total</h3>
				<h2 class="confirm_tx_amt_summary">₹ 150</h2>
			</div>
		</div>
		<div class="confirm_tx_thankyou">
			Thank You for using Hike Pay
		</div>
	</div>
	<div class="confirm_cta_wrapper">
		<div class="cta blue confirm_tx_done">Done</div>
	</div>
</div>