<div class="walletContainer">
	<div class="walletContainer-top">
		<div class="walletCard">
    		<div class="walletCard-top">
        		<div class="hologramIcon"></div>
			        <div class="settingsIcon"></div>
    		</div>
    
    		<div class="walletCard-middle">
    		</div>
    
   			 <div class="walletCard-bottom">
         		<div class="visaIcon">
        		</div>
    		</div>
		</div>

		<div class="walletContainer-middle">
			<div class="walletBalance">Rs. {{balance}}</div>
			<a class="walletHistory" href="#" data-path="/transactions">Track History</a>
		</div>
	</div>

	<div class="walletContainer-bottom">
		<ul>
		    <li class="walletAction sendMoney"><div class="addIcon"></div> <p>Send Money</p></li>
		    <li class="walletAction"><div class="addIcon"></div><p>Request Money</p></li>
		    <li class="walletAction"><div class="addIcon"></div><p>Add Money</p></li>
		    <li class="walletAction"><div class="addIcon"></div><p>Get Physical Card</p></li>
		</ul>
	</div>
</div>