	<div class="walletContent">
		<!-- <div class="hikeCard"></div> -->
		<div class="walletContainer-balance clearfix">
			<div class="walletBalance">
				<p class="balance_heading">Current Balance</p>
				<p class="balance_value">₹ {{cardbalance}}</p>
			</div>
			<div class="walletHistory"><p>View Statement</p></div>
			<div class="walletIntro">Welcome ! Start with something.</div>
			<hr>
		</div>
		
		<div class="walletAction">
			<ul>
				<li class="addMoney">
					<div class="icon-add"></div>
					<div class="content">
						<p>Add Money</p>
						<span>Quickly add money to the wallet</span>
					</div>
				</li>
				<li class="sendMoney">
					<div class="icon-send"></div>
					<div class="content">
						<p>Send Money</p>
						<span>Make a quick money transfer</span>
					</div>
				</li>
				<li class="settingsIcon">
					<div class="icon-settings"></div>
					<div class="content">
						<p>Recharge</p>
						<span>Recharge your phone instantly</span>
					</div>
				</li>
			</ul>
		</div>
	</div>