	<div class="walletContent">
		<div class="hikeCard"></div>

		<div class="walletContainer-balance clearfix">
			<div class="walletBalance">
				<p class="balance_heading">Current Balance</p>
				<p class="balance_value">₹ {{cardbalance}}</p>
			</div>
			
			<div class="walletHistory">View Statement</div>
			
		</div>
		
		<div class="walletAction">
			<ul>
				<li class="sendMoney">
					<div class="icon-send"></div>
					<span>Send Money</span>
				</li>
				<li class="addMoney">
					<div class="icon-add"></div>
					<span>Add Money</span>
				</li>
				<li class="settingsIcon">
					<div class="icon-settings"></div>
					<span>Settings</span>
				</li>
			</ul>
		</div>
	</div>