<div class="topupContainer">
	
	<h1>Enter amount to add</h1>
	
	<div class="p2pAmount">      
      <input type="number" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Amount</label>
    </div>
    
    <h1>Select Payment method</h1>
    <span class="input-blue radio">
    	<input type="radio" id="methodCard" name="radio-group" />
    	<label for="radio1" >Credit/Debit Card</label>
  	</span>

  	<div class="methodCardInputs">
  		<input type="number" required placeholder="CARD NUMBER">
  		<input type="text" require placeholder="EXPIRY(dd/mm)">
  		<input type="number" required placeholder="CVV">
  	</div>

  	<span class="input-blue radio">
    	<input type="radio" id="netBanking" name="radio-group" />
    	<label for="radio1" >Net Banking</label>
  	</span>

  	<div class="netbankingInputs">
  		<div class="banksContainer">
  			<div class="bank-sbi">SBI</div>
  			<div class="bank-hdfc">HDFC</div>
  			<div class="bank-icici">ICICI</div>
  			<div class="bank-axis">AXIS</div>
  			<div class="bank-canara">CANARA</div>
  			<div class="bank-kotak">KOTAK</div>

  			<select id="bankType">
    			<option value="hide">-- Any Other Bank --</option>
	    		<option value="cc">XYZ</option>
			    <option value="dc">ABC</option>
			    <option value="nb">LMN</option> 
			</select>

  		</div>
  	</div>


</div>