<div class="topupContainer">
	
	<h1>Enter amount to add</h1>
	
	<div class="p2pAmount">      
      <input type="number" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Amount</label>
    </div>
    
    <h1>Select Payment method</h1>
    <span class="input-blue radio">
    	<input type="radio" id="methodCard" name="radio-group" />
    	<label for="radio1" >Credit/Debit Card</label>
  	</span>
  	<span class="input-blue radio">
    	<input type="radio" id="netBanking" name="radio-group" />
    	<label for="radio1" >Net Banking</label>
  	</span>

</div>