	
	<div class="txHistory-balance">
		<h3>Current balance</h3>
		<p>₹ {{balance}}</p>	
	</div>

	<div class="txListContainer">
		<div id="tx">
		{{#transactions}}

		<div data-sid="{{sId}}" class="txHistoryList clearfix">		
			<div class="txHistoryList-item-details">
				<div class="itemIcon iblock"><p class="timestamp_date">{{tDay}}</p><p class="timestamp_month">{{tMonth}}</p></div>
				<div class="itemText iblock">
					<p class="itemHeading">{{tMessage}}</p>
					<p class="itemSubheading">Trans. ID - {{tId}}</p>
				</div>	
			</div>

			<!-- Transaction List Item Amoutn :: Red/Green Depending On Credit and Debit -->

			<div class="txHistoryList-item-amount">
				<p class="{{tType}}">₹ {{amount}}</p>
			</div>

		</div>

		{{/transactions}}
		</div>
	</div>
