<div class="addMoneyContainer">
    <ul class="errorContainer hide"></ul>
    <h3>Select how would you like to pay  ₹{{amt}}</h3>
    
    <label class="noselect radio card">
      <input name="radio" type="radio">
      <span></span>
      <div class="nb-icon"></div> 
      <span class="cc">Credit/Debit Card</span> 
    </label>

    <div class="boxInputs-card">
      <input id="card_number" type="tel" pattern="^\d*$" required placeholder="CARD NUMBER" autocomplete="off" maxlength="">
      <span class="card-type-icon"></span>
      <input id="card_expiry" type="tel" autocomplete="off" require placeholder="EXPIRY (MM/YY)" maxlength="5">
      <input id="card_cvv" type="password" pattern="^\d*$" autocomplete="off" required placeholder="CVV" maxlength="">
      <input id="card_name" type="text" pattern="^\d*$" required placeholder="NAME" autocomplete="off">
    </div>


    <label class="noselect radio netbanking">
      <input name="radio" type="radio">
      <span></span>
      <div class="nb-icon"></div> 
      <span class="nb">Net Banking</span>
    </label>

    
    <div class="boxInputs-netbanking">
  		<div class="commonBanksContainer">

  			{{#commonbanks}}
        <div class="bankContainer" data-bcode="{{optionCode}}">
          <div class="{{optionCode}} bankIcon"></div>
          <div class="bankName">{{optionName}}</div>
        </div>
        {{/commonbanks}}

  		</div>

     <div class="bankContainer">
            <select id="bankType">
              <option value="hide"> Other Bank </option>
              
              {{#banklist}}    
              <option value="{{optionCode}}">{{optionName}}</option>
              {{/banklist}}
            </select>
          </div>
      </div>
</div>

<a id="payMethod" class="topupNextButton2 addMoney" href="#">Add money</a>
